.app {
  text-align: center; /* 요소들을 가운데 정렬 */
}

header {
  display: flex; /* Flexbox 레이아웃 적용 */
  justify-content: space-between; /* 요소들을 가로로 균등하게 배치 */
  align-items: center; /* 요소들을 수직 가운데 정렬 */
}
header .Logo {
  display: flex; /* Logo 내의 요소들을 가로로 나열하기 위해 Flexbox 적용 */
  align-items: center; /* 요소들을 수직 가운데 정렬 */
  font-size : 30px;
  font-weight : bold;
  font-style : normal;
}
.header-size{
margin-top:50px;
margin-bottom:30px;
margin-left:100px;
}
.nav-bar{
  color:#fbdd97
 }
header .search-bar {
  flex-grow: 1; /* 검색 바를 나머지 공간을 모두 차지하도록 설정 */
  margin: 0 20px; /* 좌우 여백 추가 */
}

header .location-selector,
header .user-options {
  margin-left: 20px; /* 아이콘과 버튼 사이 여백 추가 */
}
.icon:hover{              /* 지도에 마우스올릴시 색상변화*/
  filter: invert(26%) sepia(99%) saturate(1246%) hue-rotate(92deg) brightness(99%) contrast(106%);
}
.product_list:hover{
  background-color: lightgrey;
}
.category_click{
color:#fbdd97;
}
.product-detail-container {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  gap: 20px;
}

.product-image {
  flex: 1;
}

.product-image img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.product-info {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.product-info h1 {
  margin-bottom: 10px;
}

.product-price {
  font-size: 24px;
  color: #E74C3C;
  margin-bottom: 10px;
}

.product-location {
  font-size: 18px;
  color: #7F8C8D;
  margin-bottom: 20px;
}

.product-description {
  margin-top: 20px;
}

.product-description h3 {
  margin-bottom: 10px;
}

.product-description p {
  line-height: 1.6;
}
.product-comment{
  flex:1;
}
/* 미디어 쿼리를 사용하여 화면 크기에 따라 스타일 조절 */
@media (max-width: 768px) {
  /* 화면 너비가 768px 이하일 때 적용되는 스타일 */
  header {
    text-align: center; /* 텍스트 가운데 정렬 */
  }

  header .Logo {
    margin-bottom: 20px; /* 로고 아래 여백 추가 */
  }

  header .search-bar {
    margin: 20px 0; /* 검색 바 위아래 여백 추가 */
  }
 
  header .location-selector,
  header .user-options {
    margin-left: 0; /* 아이콘과 버튼 여백 제거 */
  }
}